*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #7e8987;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 50px;
  background-color: #8db580;
  display: flex;
  justify-content: space-between;
  flext-wrap: wrap;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36;
  color: #7e8987;
  margin: 0;
  text-shadow: 0 0 10 rgba(0,0,0,0.5);
}