*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #404443;
  --gray: #7e8987;
  --off-white: rgb(252 252 252);
  --sage: #8db580;
}

body {
  color: var(--dark-gray);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER SECTION */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--sage);
  padding: 20px 50px;
  margin-bottom: 15px;
}

header h1 {
  font-weight: normal;
  font-size: 38px;
  color: var(--dark-gray);
  margin: 7px 7px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--dark-gray);
  text-shadow: 0 0 8px rgba(0,0,0,0.3);
  padding-top: 15px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 3 0%;
  margin: 0;  
}

header nav ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 0;
}

header nav ul li {
  margin-right: 1rem;
  justify-content: center;
}

header nav ul li a {
  justify-content: center;
  padding: 2px;
  color: var(--dark-gray);
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  border-right: 2px solid var(--dark-gray);
  padding-right: 4px;
  margin-left: 4px;
  text-shadow: 0 0 8px rgba(0,0,0,0.1);
}

header nav ul li a:hover {
  background: var(--gray);
  color: var(--sage);
  border: 2px solid var(--dark-gray);
  border-radius: 15px;
  text-shadow: none;
}

.header-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  max-width: 700px;
  margin-left: 75%;
  padding-top: 25px;
}

.header-right h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-gray);
  font-weight: bold;
}

.header-right p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-style: italic;
  color: var(--off-white);
}

/* ABOUT ME SECTION */

.bio-box {
  margin: 0 auto;
  padding: 20px 50px;
  background-color: var(--dark-gray);
  margin-bottom: 15px;
}

.flex-row {
  display: flex;
}

.bio-box h1 {
  font-size: 38px;
  font-weight: lighter;
  color: var(--sage);
  padding-right: 18px;
  margin: 20px;
  border-right: 2px solid var(--sage);
  text-shadow: 0 0 8 rgba(0,0,0,0.5);
}

.bio img {
  width: 300px;
  height: 300px;
  border: 1px solid var(--sage);
  border-radius: 10px;
  margin: auto;
}


.bio {
  display: flex;
  padding: 25px;
  line-height: 1.3;
}

.bio p {
  font-size: 16px;
  color: var(--off-white);
  align-items: center;
  padding: 50px;
}

/* MY WORK SECTION */

.assign-box {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  background-color: var(--dark-gray);
  margin-bottom: 15px;
}

.assign-box h1 {
  font-size: 38px;
  font-weight: lighter;
  max-width: 132px;
  color: var(--sage);
  padding-right: 18px;
  margin: 20px 50px;
  border-right: 2px solid var(--sage);
  text-shadow: 0 0 8 rgba(0,0,0,0.5);
}

.assign-box h2 {
  display: flex;
  justify-content: center;
  color: var(--off-white);
  font-weight: lighter;
  padding-top: 20px;
}

.assign-box-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  margin: 20px 100px;
}

.run-buddy img {
  width: 200px;
  height: auto;
  margin: 20px 100px 0 100px;
  padding: 0;
  border: 2px solid var(--sage);
  border-radius: 15px;
}

.horiseon img{
  width: 170px;
  height: auto;
  margin: 20px 100px 0 100px;
  padding: 0;
  border: 2px solid var(--sage);
  border-radius: 15px;
}

.assign-box-url {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 450px;
  margin: 20px;
  margin-left: 8%;
  margin-bottom: 18px;
}

.assign-box-url h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: var(--off-white);
  margin: 20px 0px 10px 20px;
}

.assign-box-url a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: var(--sage);
  font-size: 16px;
  margin: 0px 20px 20px  20px; 
}

.assign-box-url a:hover {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: var(--off-white);
  font-size: 16px;
  margin: 0px 20px 20px  20px; 
}

/* Contact Information */

footer {
  padding: 5px 50px;
  background-color: var(--sage);
  display: flex;
  align-items: center;;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

footer h1 {
  font-weight: normal;
  font-size: 36px;
  color: var(--dark-gray);
  margin: 7px 7px;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid var(--dark-gray);
  text-shadow: 0 0 8px rgba(0,0,0,0.3);
}

footer nav {
  display: flex;
  justify-content: center;
  margin-top: 7px;  
}

footer nav p {
  font-size: 18px;
  font-weight: lighter;
  margin-right: 10px;
  border-right: 2px solid var(--dark-gray);
  padding-right: 4px;
}

footer nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 0;
}

footer nav ul li {
  margin-right: 1rem;
  color: var(--dark-gray);
}

footer nav ul li a {
  padding: 2px;
  font-weight: normal;
  font-size: 18px;
  color: var(--dark-gray);
  text-decoration: none;
  border-right: 2px solid var(--dark-gray);
  padding-right: 4px;
  margin-left: 4px;
}

footer nav ul li a:hover {
  background: var(--gray);
  color: var(--off-white);
  border: 2px solid var(--dark-gray);
  border-radius: 15px;
  text-shadow: none;
}

/* mobile device screens (980px) */

@media only screen and (max-device-width : 980px) {
  body {
    width: 100%;
  }
  
  header {
    display:flex;
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    margin-bottom:auto;
  }

  header h1 {
    width: 100%;
    /* flex: 0 100%; */
    text-align: center;
    
  }

  header nav {
    width: 100%;
    text-align:center;
    margin-top: 5px;
    margin-right: 50px;
  }

  header nav ul {
    position: reslative;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 100px;
    padding-left: 153px;
  }

  header nav ul li a{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 5px;
    padding: 0;
    width: 100%;
  }

  .header-right {
    display: flex;
    padding: 0;
    width: 100%;
    margin-right: 660px;
    margin-bottom: 15px;
    justify-content: center;
  }

  .header-right h2 {
    position: relative;
    width: max-content;
    justify-content: center;
    padding: 0;
    margin-top: 0;    
  }

  .header-right p {
    display: flex;;
    width: 100%;
    justify-content: center;
  }

  .bio-box {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
   }

   .bio-box h1 {
     padding-right: 20px;
   }
 
 
   .bio-box img {
     width: auto;
     justify-content: flex-start;;
     margin-bottom: 20px;
     margin-right: 450px;
     margin-left: 0;  
   }
 
   .bio {
     display: flex;
     flex-wrap: wrap;
     padding: 25px;
     line-height: 1.3;
   }
 
   .bio p {
     font-size: 16px;
     color: var(--off-white);
     align-items: flex-end;
     justify-content: flex-start;
     padding: 0
   }

   .assign-box {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: var(--dark-gray);
    margin-bottom: 0;
  }

  .assign-box-images {
    justify-content: center;
  }

  .assign-box h1 {
    flex: 0 100%;
    font-weight: normal;
    padding: none;
  }

  .assign-box h2 {
    padding-top: 20px;
  }

  .bio {
    width: 100%;
    justify-content: center;
  }

  footer {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    
  }

  footer h1 {
    width: 100%;
    flex: 0 100%;
    text-align: center;
  }

  footer nav {
    justify-content: center;
  }

  footer p {
    justify-content: center;
  }
}

 /* mobile device screens (768) */

@media only screen and (max-device-width : 768px) {
  body {
    width: 100%;
  }
  
  header {
    display:flex;
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    margin-bottom:auto;
  }

  .header-right h2 {
    position: relative;
    width: max-content;
    justify-content: center;
    margin-left: 162px;
    margin-top: 0;    
  }

  .header-right p {
    display: flex;;
    width: 100%;
    margin-left: 162px;
    justify-content: center;
  }

  /* .bio-box {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    flex: 0 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
   } */

  

  .bio-box h1 {
    padding: 0;
    font-weight: lighter;
    
    
  }


  .bio-box img {
    margin: 0;
    justify-content: flex-start;  
    margin-right: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .bio {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding: 25px; */
    line-height: 1.3;
  }

  .bio p {
    
    font-size: 18px;
    width: 100%;
    color: var(--off-white);
    justify-content: flex-start;
  

    
  }
}

/* laptops and desktops ------------ */
/* @media only screen and (max-device-width : 575px)

/* } 




  
